<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>100</integer>
		<key>position</key>
		<integer>4</integer>
		<key>name</key>
		<string>Дом</string>
		<key>desc</key>
		<string>Затраты для дома</string>
		<key>childs</key>
		<array>
			<dict>
				<key>id</key>
				<integer>101</integer>
				<key>position</key>
				<integer>1</integer>
				<key>desc</key>
				<string>Квартплата</string>
				<key>name</key>
				<string>Квартплата</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>102</integer>
				<key>position</key>
				<integer>2</integer>
				<key>desc</key>
				<string>Коммунальные: эл., тепло</string>
				<key>name</key>
				<string>Коммунальные: эл., тепло</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>103</integer>
				<key>position</key>
				<integer>3</integer>
				<key>desc</key>
				<string>Телефон, интернет</string>
				<key>name</key>
				<string>Телефон, интернет</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>104</integer>
				<key>position</key>
				<integer>4</integer>
				<key>desc</key>
				<string>Уют</string>
				<key>name</key>
				<string>Уют</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>105</integer>
				<key>position</key>
				<integer>5</integer>
				<key>desc</key>
				<string>Ремонт</string>
				<key>name</key>
				<string>Ремонт</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>106</integer>
				<key>position</key>
				<integer>6</integer>
				<key>desc</key>
				<string>Мебель</string>
				<key>name</key>
				<string>Мебель</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>200</integer>
		<key>position</key>
		<integer>1</integer>
		<key>name</key>
		<string>Еда</string>
		<key>desc</key>
		<string>Еда, продукты</string>
		<key>childs</key>
		<array>
			<dict>
				<key>id</key>
				<integer>201</integer>
				<key>position</key>
				<integer>1</integer>
				<key>desc</key>
				<string>Домой</string>
				<key>name</key>
				<string>Домой</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>202</integer>
				<key>position</key>
				<integer>2</integer>
				<key>desc</key>
				<string>Ресторан, фаст фуд</string>
				<key>name</key>
				<string>Ресторан, фаст фуд</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>203</integer>
				<key>position</key>
				<integer>3</integer>
				<key>desc</key>
				<string>Спиртное</string>
				<key>name</key>
				<string>Спиртное</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>204</integer>
				<key>position</key>
				<integer>4</integer>
				<key>desc</key>
				<string>Сигареты</string>
				<key>name</key>
				<string>Сигареты</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>205</integer>
				<key>position</key>
				<integer>5</integer>
				<key>desc</key>
				<string>Животным</string>
				<key>name</key>
				<string>Животным</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>300</integer>
		<key>position</key>
		<integer>3</integer>
		<key>desc</key>
		<string>Отдых, досуг, развлечения</string>
		<key>name</key>
		<string>Отдых</string>
		<key>childs</key>
		<array>
			<dict>
				<key>id</key>
				<integer>301</integer>
				<key>position</key>
				<integer>1</integer>
				<key>desc</key>
				<string>Тур, поездки, путешествия</string>
				<key>name</key>
				<string>Тур, поездки, путешествия</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>302</integer>
				<key>position</key>
				<integer>2</integer>
				<key>desc</key>
				<string>Развлечения</string>
				<key>name</key>
				<string>Развлечения</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>303</integer>
				<key>position</key>
				<integer>3</integer>
				<key>desc</key>
				<string>Кино, книги, журналы, игры</string>
				<key>name</key>
				<string>Кино, книги, журналы, игры</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>304</integer>
				<key>position</key>
				<integer>4</integer>
				<key>desc</key>
				<string>Дни рождения, подарки</string>
				<key>name</key>
				<string>Дни рождения, подарки</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>305</integer>
				<key>position</key>
				<integer>5</integer>
				<key>desc</key>
				<string>Свидания, отношения</string>
				<key>name</key>
				<string>Свидания, отношения</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>306</integer>
				<key>position</key>
				<integer>6</integer>
				<key>desc</key>
				<string>Спорт</string>
				<key>name</key>
				<string>Спорт</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>400</integer>
		<key>position</key>
		<integer>2</integer>
		<key>desc</key>
		<string>Транспорт</string>
		<key>name</key>
		<string>Транспорт</string>
		<key>childs</key>
		<array>
			<dict>
				<key>id</key>
				<integer>401</integer>
				<key>position</key>
				<integer>1</integer>
				<key>desc</key>
				<string>Покупка автомобиля</string>
				<key>name</key>
				<string>Покупка автомобиля</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>402</integer>
				<key>position</key>
				<integer>2</integer>
				<key>desc</key>
				<string>Бензин</string>
				<key>name</key>
				<string>Бензин</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>403</integer>
				<key>position</key>
				<integer>3</integer>
				<key>desc</key>
				<string>Сервис, ТО</string>
				<key>name</key>
				<string>Сервис, ТО</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>404</integer>
				<key>position</key>
				<integer>4</integer>
				<key>desc</key>
				<string>Такси</string>
				<key>name</key>
				<string>Такси</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>405</integer>
				<key>position</key>
				<integer>5</integer>
				<key>desc</key>
				<string>Общественный траспорт</string>
				<key>name</key>
				<string>Общественный траспорт</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>500</integer>
		<key>position</key>
		<integer>5</integer>
		<key>desc</key>
		<string>Одежда  и аксессуары</string>
		<key>name</key>
		<string>Одежда</string>
		<key>childs</key>
		<array>
			<dict>
				<key>id</key>
				<integer>501</integer>
				<key>position</key>
				<integer>1</integer>
				<key>desc</key>
				<string>Верхняя</string>
				<key>name</key>
				<string>Верхняя</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>502</integer>
				<key>position</key>
				<integer>2</integer>
				<key>desc</key>
				<string>Обувь</string>
				<key>name</key>
				<string>Обувь</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>503</integer>
				<key>position</key>
				<integer>3</integer>
				<key>desc</key>
				<string>Белье</string>
				<key>name</key>
				<string>Белье</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>504</integer>
				<key>position</key>
				<integer>4</integer>
				<key>desc</key>
				<string>Детям</string>
				<key>name</key>
				<string>Детям</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>505</integer>
				<key>position</key>
				<integer>5</integer>
				<key>desc</key>
				<string>Аксессуары, украшения</string>
				<key>name</key>
				<string>Аксессуары, украшения</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>506</integer>
				<key>position</key>
				<integer>6</integer>
				<key>desc</key>
				<string>Химчистка</string>
				<key>name</key>
				<string>Химчистка</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>600</integer>
		<key>position</key>
		<integer>6</integer>
		<key>desc</key>
		<string>Разное</string>
		<key>name</key>
		<string>Разное</string>
		<key>childs</key>
		<array>
			<dict>
				<key>id</key>
				<integer>601</integer>
				<key>position</key>
				<integer>1</integer>
				<key>desc</key>
				<string>Кредиты</string>
				<key>name</key>
				<string>Кредиты</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>602</integer>
				<key>position</key>
				<integer>2</integer>
				<key>desc</key>
				<string>Услуги</string>
				<key>name</key>
				<string>Услуги</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>603</integer>
				<key>position</key>
				<integer>3</integer>
				<key>desc</key>
				<string>Медицина</string>
				<key>name</key>
				<string>Медицина</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>604</integer>
				<key>position</key>
				<integer>4</integer>
				<key>desc</key>
				<string>Косметика</string>
				<key>name</key>
				<string>Косметика</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>605</integer>
				<key>position</key>
				<integer>5</integer>
				<key>desc</key>
				<string>Другое</string>
				<key>name</key>
				<string>Другое</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>606</integer>
				<key>position</key>
				<integer>6</integer>
				<key>desc</key>
				<string>Налоги</string>
				<key>name</key>
				<string>Налоги</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
