<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Currency</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Ариари</string>
			<key>Symbol</key>
			<string>Ar</string>
			<key>Orient</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Бальбоа</string>
			<key>Symbol</key>
			<string>B</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Бат</string>
			<key>Symbol</key>
			<string>฿</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Боливар фуэрте</string>
			<key>Symbol</key>
			<string>Bs</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Боливиано</string>
			<key>Symbol</key>
			<string>$</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Быр</string>
			<key>Symbol</key>
			<string>Br</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Вату</string>
			<key>Symbol</key>
			<string>Vt</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Вона</string>
			<key>Symbol</key>
			<string>₩</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Гривна</string>
			<key>Symbol</key>
			<string>₴</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Гуарани</string>
			<key>Symbol</key>
			<string>₲</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Гульден</string>
			<key>Symbol</key>
			<string>₲</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Гурд</string>
			<key>Symbol</key>
			<string>G</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Даласи</string>
			<key>Symbol</key>
			<string>D</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Денар</string>
			<key>Symbol</key>
			<string>MKD</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Динар</string>
			<key>Symbol</key>
			<string>.د.ج</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Динар</string>
			<key>Symbol</key>
			<string>.د.ب</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Динар</string>
			<key>Symbol</key>
			<string>.د.إ</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Динар</string>
			<key>Symbol</key>
			<string>.د.ع</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Динар</string>
			<key>Symbol</key>
			<string>.د.ك</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Динар</string>
			<key>Symbol</key>
			<string>.د.ل</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Динар</string>
			<key>Symbol</key>
			<string>Din</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Динар</string>
			<key>Symbol</key>
			<string>.د.ت</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Дирхам</string>
			<key>Symbol</key>
			<string>.د.م</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Дирхам</string>
			<key>Symbol</key>
			<string>.د.إ</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Добра</string>
			<key>Symbol</key>
			<string>Db</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Доллар</string>
			<key>Symbol</key>
			<string>$</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Донг</string>
			<key>Symbol</key>
			<string>₫</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Драм</string>
			<key>Symbol</key>
			<string>դր</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Евро</string>
			<key>Symbol</key>
			<string>€</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Злотый</string>
			<key>Symbol</key>
			<string>zł</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Иена</string>
			<key>Symbol</key>
			<string>¥</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Кванза</string>
			<key>Symbol</key>
			<string>Kz</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Квача</string>
			<key>Symbol</key>
			<string>K</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Кетсаль</string>
			<key>Symbol</key>
			<string>Q</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Кина</string>
			<key>Symbol</key>
			<string>K</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Кип</string>
			<key>Symbol</key>
			<string>₭</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Колон</string>
			<key>Symbol</key>
			<string>₡</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Кордоба</string>
			<key>Symbol</key>
			<string>C$</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Крона</string>
			<key>Symbol</key>
			<string>kr</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Крона</string>
			<key>Symbol</key>
			<string>Kč</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Куна</string>
			<key>Symbol</key>
			<string>Kn</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Кьят</string>
			<key>Symbol</key>
			<string>K</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Лари</string>
			<key>Symbol</key>
			<string>ლ</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Лат</string>
			<key>Symbol</key>
			<string>Ls</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Лев</string>
			<key>Symbol</key>
			<string>лв</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Лей</string>
			<key>Symbol</key>
			<string>L</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Лек</string>
			<key>Symbol</key>
			<string>L</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Лемпира</string>
			<key>Symbol</key>
			<string>L</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Леоне</string>
			<key>Symbol</key>
			<string>Le</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Лилангени</string>
			<key>Symbol</key>
			<string>L</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Лира</string>
			<key>Symbol</key>
			<string>£</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Лит</string>
			<key>Symbol</key>
			<string>Lt</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Лоти</string>
			<key>Symbol</key>
			<string>L</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Манат</string>
			<key>Symbol</key>
			<string>man</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Манат</string>
			<key>Symbol</key>
			<string>m</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Марка конвертируемая</string>
			<key>Symbol</key>
			<string>КМ</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Метикал</string>
			<key>Symbol</key>
			<string>MT</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Найра</string>
			<key>Symbol</key>
			<string>₦</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Накфа</string>
			<key>Symbol</key>
			<string>ናቕፋ</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Нгултрум</string>
			<key>Symbol</key>
			<string>Nu</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Паанга</string>
			<key>Symbol</key>
			<string>T$</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Патака</string>
			<key>Symbol</key>
			<string>元, 圓</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Песо</string>
			<key>Symbol</key>
			<string>$</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Песо(Филиппины)</string>
			<key>Symbol</key>
			<string>₱</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Пула</string>
			<key>Symbol</key>
			<string>P</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Реал</string>
			<key>Symbol</key>
			<string>R$</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Риал</string>
			<key>Symbol</key>
			<string>﷼</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Риель</string>
			<key>Symbol</key>
			<string>៛</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Ринггит</string>
			<key>Symbol</key>
			<string>RM</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Риял</string>
			<key>Symbol</key>
			<string>.ر.س</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Рубль(Белоруссия)</string>
			<key>Symbol</key>
			<string>р.</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Рубль(Россия)</string>
			<key>Symbol</key>
			<string>руб</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Рупия(Индия)</string>
			<key>Symbol</key>
			<string>₹</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Рупия(Индонезия)</string>
			<key>Symbol</key>
			<string>₨</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Рупия(Маврикий)</string>
			<key>Symbol</key>
			<string>रु</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Рупия(Непал)</string>
			<key>Symbol</key>
			<string>रू</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Рупия(Сейшелы)</string>
			<key>Symbol</key>
			<string>R</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Руфия</string>
			<key>Symbol</key>
			<string>.ރ</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Ренд</string>
			<key>Symbol</key>
			<string>R</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Седи</string>
			<key>Symbol</key>
			<string>₵</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Соль новый</string>
			<key>Symbol</key>
			<string>S/.</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Сом</string>
			<key>Symbol</key>
			<string>сом</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Сомони</string>
			<key>Symbol</key>
			<string>смн</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Сум</string>
			<key>Symbol</key>
			<string>so’m</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Така</string>
			<key>Symbol</key>
			<string>৳</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Тала</string>
			<key>Symbol</key>
			<string>WS$</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Тенге</string>
			<key>Symbol</key>
			<string>₸</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Тугрик</string>
			<key>Symbol</key>
			<string>₮</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Угия</string>
			<key>Symbol</key>
			<string>UM</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Флорин</string>
			<key>Symbol</key>
			<string>ƒ</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Форинт</string>
			<key>Symbol</key>
			<string>ƒ</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Франк</string>
			<key>Symbol</key>
			<string>₣</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Фунт стерлингов</string>
			<key>Symbol</key>
			<string>£</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Фунт(Египет)</string>
			<key>Symbol</key>
			<string>ج.م</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Фунт(Ливан)</string>
			<key>Symbol</key>
			<string>ل.ل</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Шекель</string>
			<key>Symbol</key>
			<string>₪</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Юань</string>
			<key>Symbol</key>
			<string>¥</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Шиллинг(Кения)</string>
			<key>Symbol</key>
			<string>KSh</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Шиллинг(Сомали)</string>
			<key>Symbol</key>
			<string>So</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Шиллинг(Танзания)</string>
			<key>Symbol</key>
			<string>TSh</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Шиллинг(Уганда)</string>
			<key>Symbol</key>
			<string>USh</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Аустраль</string>
			<key>Symbol</key>
			<string>₳</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Драхма</string>
			<key>Symbol</key>
			<string>₯</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Инти</string>
			<key>Symbol</key>
			<string>I/.</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Колон</string>
			<key>Symbol</key>
			<string>₡</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Крузейро</string>
			<key>Symbol</key>
			<string>₢</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>0</string>
			<key>Title</key>
			<string>Ливр турнуа</string>
			<key>Symbol</key>
			<string>₶</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Марка</string>
			<key>Symbol</key>
			<string>ℳ</string>
		</dict>
		<dict>
			<key>Orient</key>
			<string>1</string>
			<key>Title</key>
			<string>Песета</string>
			<key>Symbol</key>
			<string>₧</string>
		</dict>
	</array>
</dict>
</plist>
