<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>active</key>
		<true/>
		<key>controller</key>
		<string>TransactionsViewController</string>
		<key>icon</key>
		<string>tabbar_transactions.png</string>
		<key>name</key>
		<string>tabbar_transactions</string>
		<key>navigation</key>
		<true/>
		<key>navigation_hide</key>
		<false/>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>controller</key>
		<string>BudgetViewController</string>
		<key>icon</key>
		<string>tabbar_budget.png</string>
		<key>name</key>
		<string>tabbar_budget</string>
		<key>navigation</key>
		<true/>
		<key>navigation_hide</key>
		<false/>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>controller</key>
		<string>AddViewController</string>
		<key>icon</key>
		<string>tabbar_add.png</string>
		<key>name</key>
		<string>tabbar_add</string>
		<key>navigation</key>
		<true/>
		<key>navigation_hide</key>
		<false/>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>controller</key>
		<string>ReportViewController</string>
		<key>icon</key>
		<string>tabbar_report.png</string>
		<key>name</key>
		<string>tabbar_report</string>
		<key>navigation</key>
		<true/>
		<key>navigation_hide</key>
		<false/>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>controller</key>
		<string>SettingsViewController</string>
		<key>icon</key>
		<string>tabbar_settings.png</string>
		<key>name</key>
		<string>tabbar_settings</string>
		<key>navigation</key>
		<true/>
		<key>navigation_hide</key>
		<false/>
	</dict>
</array>
</plist>
